body {
   background-color: #85a7ce;
   font-family: 'Arsenal', sans-serif;
   text-align: center;
   display: inline-block;
   padding: 8px 10px 8px 10px;
   color: white;
   text-align: left;
   margin-right:auto; 
   margin-left:auto;
}


